<div>
  <gg-nav-bar></gg-nav-bar>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 homeTeacherArea">
        <div class="animated bounceIn" ng-hide="user.teacher">
          <h1>Are you teaching today?</h1>
          <p>Start a new class instance</p>
          <div class="col-xs-12">
            <button class="btn btn-success" ng-click="startNewClass()">Start A Class</button>
          </div>
        </div>
        <div ng-show="user.teacher">
          <h1>What's Up?</h1>
          <p>Head back to class</p>
          <div class="col-xs-12">
            <div class="col-xs-12 col-sm-5">
              <button class="btn btn-success" ui-sref="teacher({classID: user.teacher})">Back To Class</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 homeStudentArea">
        <div class="col-xs-12" ng-show="!user.class" ng-init="showJoinButton = true">
          <div class="bounceIn animated">
            <h1>Are you a student today?</h1>
            <p>Enter the class ID number provided by your teacher.</p>
          </div>
          <div class="col-xs-12">
            <form ng-submit="goToClass(classroom)">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">ID:</span>
                <input ui-mask="999-999-999" ng-model="classroom.id" type="text" class="form-control" clearOnBlurPlaceholder="true" ui-mask-placeholder="###-###-###" aria-describedby="sizing-addon1" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12" ng-show="user.classroom">
          <button class="btn btn-primary btn-lg bounceIn animated" ui-sref="student({classID: user.classroom.id})">Rejoin Class</button>
        </div>
      </div>
    </div>
  </div>
</div>
