<div class="">
  <div class="row timeDataArea">
    <div class="col-xs-12">
      <h1 ng-show="percentage >= 0">{{percentage}}% of students think your speed is good</h4>
      <h1 ng-show="percentage === '...'">Not enough student engagement {{percentage}}</h4>
      <gg-time-data data="{{timeData}}" ng-show="isRecording"></gg-time-data>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <button class="btn btn-success" ng-click="startRecording()">Start Recording</button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-danger" ng-click="stopRecording()">Stop Recording</button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-warning" ng-click="clearStudents()">Clear Students</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="number" ng-model="interval">
        </div>
        <button class="btn btn-primary" ng-click="setResetInterval(interval)">Set Clear Interval (min)</button>
      </form>
    </div>
    <div class="col-xs-6">
      <h4 ng-hide="isRecording">Use the controls above to record class data...</h2>
    </div>
  </div>
  <h2 ng-hide="students.length">Waiting for students to join...</h2>
  <gg-student-circles students="{{students}}" percentage="{{percentage}}" ng-show="students.length" ></gg-student-circles>
</div>
