<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Get It, Got It</title>

    <link rel="shortcut icon" href="assets/greencircle.ico">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>

    <script src="app.min.js"></script>

    <!-- <script src="controllers/splashCtrl.js"></script>
    <script src="controllers/homeCtrl.js"></script>
    <script src="controllers/teacherCtrl.js"></script>
    <script src="controllers/studentCtrl.js"></script>
    <script src="controllers/chatroomHelpeeCtrl.js"></script>
    <script src="controllers/chatroomHelperCtrl.js"></script>
    <script src="controllers/profileCtrl.js"></script> -->

    <!-- <script src="services/Auth.js"></script>
    <script src="services/DataService.js"></script> -->

    <!-- <script src="directives/student-circles.js"></script>
    <script src="directives/time-data.js"></script> -->

    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='css/animate.css'/>
    <link rel='stylesheet' href='css/style.css'/>
    <!-- <link rel='stylesheet' href='css/gradientAnimation.css'/>
    <link rel="stylesheet" href="css/splash.css"/>
    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/profile.css"/>
    <link rel="stylesheet" href="css/student.css"/>
    <link rel="stylesheet" href="css/chatroom.css"/>
    <link rel="stylesheet" href="css/teacher.css"/>
    <link rel="stylesheet" href="css/stats.css"/> -->

    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="bower_components/angular-ui-mask/dist/mask.min.js"></script>

  </head>
  <body>

    <div ui-view></div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1554219404895973',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
