.chatArea {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: left;
}
.chatArea .container {
  background-color: white;
  border: 3px solid black;
  height: 70vh;
  width: 80%;
  overflow-y: scroll;
  transform: rotate(180deg);
}
.chatInput {
  width: 80%;
  left: 10%;
  border: 3px solid black;
}
.chatArea li {
  list-style: none;
  transform: rotate(180deg);
}
.chatArea ul {
  padding-left: 1%;
}
.myMessage {
  background-color: beige;
  text-align: left;
}
.backToClassHelpee {
  background: linear-gradient(
    to bottom,
    rgba(27, 116, 156, 1),
    rgba(0, 0, 0, 0.7),
    rgba(27, 116, 156, 1)
    );
}
.backToClassHelper {
  background: linear-gradient(
    to bottom,
    rgba(172, 20, 26, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(172, 20, 26, 0.6)
    );
}
