.profileImageWrapperOuter{
  background: linear-gradient(
    0deg,
    rgba(27, 116, 156, 1),
    rgba(0, 0, 0, 1),
    rgba(172, 20, 26, 1),
    rgba(0, 0, 0, 1),
    rgba(4, 83, 45, 1)
    );
  background-size: 400% 400%;

  -webkit-animation: profileImageWrapperOuter 15s linear infinite;
  -moz-animation: profileImageWrapperOuter 15s linear infinite;
  animation: profileImageWrapperOuter 15s linear infinite;
}
@-webkit-keyframes profileImageWrapperOuter {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes profileImageWrapperOuter {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes profileImageWrapperOuter {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
.profileDisplay{
  background: linear-gradient(
    0deg,
    rgba(27, 116, 156, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(172, 20, 26, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(4, 83, 45, 1)
    );
  background-size: 400% 400%;

  -webkit-animation: profileDisplay 15s linear infinite;
  -moz-animation: profileDisplay 15s linear infinite;
  animation: profileDisplay 15s linear infinite;
}
@-webkit-keyframes profileDisplay {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes profileDisplay {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes profileDisplay {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}

.studentBackground{
  background: linear-gradient(
    0deg,
    rgba(4, 83, 45, 1),
    rgba(10, 180, 99, 1),
    rgba(4, 83, 45, 1)
    );
  /* no animation - increase size to create movement effect */
  background-size: 100% 100%;


  -webkit-animation: studentBackground 15s linear infinite;
  -moz-animation: studentBackground 15s linear infinite;
  animation: studentBackground 15s linear infinite;
}
@-webkit-keyframes studentBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes studentBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes studentBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}

.chatroomHelpeeBackground {
  background: linear-gradient(
    0deg,
    rgba(172, 20, 26, 1),
    rgba(27, 116, 156, 0.6),
    rgba(172, 20, 26, 1)
    );
  background-size: 100% 100%;

  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;


  -webkit-animation: chatroomHelpeeBackground 30s ease infinite;
  -moz-animation: chatroomHelpeeBackground 30s ease infinite;
  animation: chatroomHelpeeBackground 30s ease infinite;
}


@-webkit-keyframes chatroomHelpeeBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes chatroomHelpeeBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes chatroomHelpeeBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}

.chatroomHelperBackground {
  background: linear-gradient(
    0deg,
    rgba(27, 116, 156, 1),
    rgba(126, 12, 16, 0.6),
    rgba(27, 116, 156, 1)
    );
  background-size: 100% 100%;

  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;


  -webkit-animation: chatroomHelperBackground 30s ease infinite;
  -moz-animation: chatroomHelperBackground 30s ease infinite;
  animation: chatroomHelperBackground 30s ease infinite;
}


@-webkit-keyframes chatroomHelperBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes chatroomHelperBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes chatroomHelperBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
