.studentBackground{
  background: linear-gradient(0deg, #6bb880, #09624c);
  background-size: 400% 400%;

  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;

  -webkit-animation: studentBackground 30s ease infinite;
  -moz-animation: studentBackground 30s ease infinite;
  animation: studentBackground 30s ease infinite;
}
@-webkit-keyframes studentBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes studentBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes studentBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}

.chatroomHelpeeBackground {
  background: linear-gradient(0deg, #d12424, #831d1d);
  background-size: 400% 400%;

  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;


  -webkit-animation: chatroomHelpeeBackground 30s ease infinite;
  -moz-animation: chatroomHelpeeBackground 30s ease infinite;
  animation: chatroomHelpeeBackground 30s ease infinite;
}


@-webkit-keyframes chatroomHelpeeBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes chatroomHelpeeBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes chatroomHelpeeBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}

.chatroomHelperBackground {
  background: linear-gradient(0deg, #409ff6, #0b61b0);
  background-size: 400% 400%;

  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;


  -webkit-animation: chatroomHelperBackground 30s ease infinite;
  -moz-animation: chatroomHelperBackground 30s ease infinite;
  animation: chatroomHelperBackground 30s ease infinite;
}


@-webkit-keyframes chatroomHelperBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@-moz-keyframes chatroomHelperBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
@keyframes chatroomHelperBackground {
  0%{background-position:52% 0%}
  50%{background-position:49% 100%}
  100%{background-position:52% 0%}
}
