::-webkit-scrollbar {
    display: none;
}

.statsBackground {
  background: linear-gradient(
    to bottom,
    rgba(4, 83, 45, 0.7),
    rgba(4, 83, 45, 0.1),
    rgba(4, 83, 45, 0.7)
    );
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;
  overflow: scroll;
  color: black;
}

.statsHeader {
  background: linear-gradient(
    to bottom,
    rgba(4, 83, 45, 0.05),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(4, 83, 45, 0.05)
    );
}

.statsTotalsArea {
  color: black;
}

.statsTotalsArea table {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(4, 83, 45, 0.05)
    );
}
.statsTotalsArea thead {
  font-size: 1.2em;
}
.statsTotalsArea tbody {
  font-size: 2em;
}

.statsBackButton {
  margin-left: -15px;
}

.statsDataArea {
  background-color: white;
  border: 1vw solid rgba(4, 83, 45, 0.4);
}

.studentStatsHeader {
  border-bottom: 1vw solid rgba(4, 83, 45, 0.4);
}

.percentageGraph {
  border-right: 1vw solid rgba(4, 83, 45, 0.4);
}

.studentStatsArea {
  border-top: 1vw solid rgba(4, 83, 45, 0.4);
}

.modal-body li {
  list-style: none;
}
