body {
  font-family: 'ABeeZee', sans-serif;
}

.btn {
  border-radius: 25px;
}

.btn-warning {
  background-color: #EE4037;
}



.homeBackground {
  background-image: url('http://i.imgur.com/tVmwcOy.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;
}

.homeWrapper {
  position: absolute;
  bottom: 50%;
}

.homeWrapper .row {
  color: white;
  width: 100vw;
  padding-bottom: 2%;
}

.studentArea {
  color: white;
  height: 100vh;
  width: 100vw;
}
.studentArea span {
  font-size: 2em;
}

.helpButtonWrapper {
  position: absolute;
  height: 25vw;
  width: 25%;
  right: 0;
}
.helpButton {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display:none;
}
.displayHelp {
  display: block;
}

.needHelpButtonWrapper {
  position: absolute;
  height: 50vw;
  width: 50%;
  top: 20%;
  left: 25%;
}

.needHelpButton {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: absolute;
}


.chatArea {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: left;
}

.chatArea .container {
  background-color: white;
  border: 3px solid black;
  height: 70vh;
  width: 80%;
  overflow-y: scroll;
  transform: rotate(180deg);
}
.chatInput {
  width: 80%;
  left: 10%;
  border: 3px solid black;
}
.chatArea li {
  list-style: none;
  transform: rotate(180deg);
}
.chatArea ul {
  padding-left: 1%;
}
.myMessage {
  background-color: beige;
  text-align: left;
}


.teacherHeader {
  background-color: beige;
}

.studentCirclesRow {
  height: 70vh;
  width: 100vw;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
