body {
  font-family: 'ABeeZee', sans-serif;
}

.btn {
  border-radius: 0;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(
    to bottom,
    rgba(27, 116, 156, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(27, 116, 156, 0.6)
    );
}

.btn-success {
  background: linear-gradient(
    to bottom,
    rgba(4, 83, 45, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(4, 83, 45, 0.6)
    );
}

.btn-warning {
  background: linear-gradient(
    to bottom,
    rgba(172, 20, 26, 1),
    rgba(0, 0, 0, 0.8),
    rgba(172, 20, 26, 1)
    );
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
