.teacherBackground {
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin: 0;
  overflow: scroll;
  color: black;
}

.teacherHeader {
  background-color: rgba(27, 116, 156, 1);
  color: white;
}

.endClassButton {
  border-radius: 0;
  width: 100%;
  background-color: rgba(172, 20, 26, 1);
  padding-left: 0;
  border: none;
  cursor: pointer;
}

.studentCirclesArea {
  height: 100vh;
  width: 100vw;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.y.axis line,
.y.axis path {
  fill: none;
  stroke: #000;
}

.x.axis line,
.x.axis path {
  fill: none;
  stroke: #000;
}

.studentProfileImg {
  width: 100%;
  height: 25vw;
}
