<div id="home">
  <section id="above-the-fold">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="title">GET IT, GOT IT</h1>
          <hr>
          <h1>Good.</h1>
          <h3 class="subtitle">Redefining the interactive classroom</h3>
          <h3 class="subtitle">A tool for teachers and students to facilitate learning in real time</h3>
          <br>
          <br>
          <a href="#" scroll-to="about-section">
            <i class="fa fa-angle-double-down"></i>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>

  <section id="about-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-12">
          <h1>Learning In Real Time</h1>
        </div>
        <br>
        <div class="col-xs-12">
          <h2>For Teachers</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <img src="//placehold.it/350x350" alt="" />
              <!-- <img src="/images/about_teachers.jpg" alt="Teacher Demo" /> -->
            </div>
            <div class="col-xs-12 col-sm-6 text-left">
              <h4 class="text-justify">Monitor your students' level of understanding while you teach. The platform gives you instant feedback, allowing you to adjust your class speed and depth dynamically.</h4>
              <ul class="text-left">
                <li>HUD of all the students in your class.</li>
                <li>Understanding graded by color for analysis at a glance.</li>
                <li>Analytics and tracking - record your sessions for later review.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <h2>For Students</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 text-left">
              <h4 class="text-justify">Students can get the help they need, when they need it. Peer interaction facilitates learning and promotes collaboration.</h4>
              <ul class="text-left">
                <li>Simpe, intuitive interface that won't distract from your class</li>
                <li>Peer-to-peer, 1-on-1 chat gets students unstuck faster and reduces class interruptions</li>
                <li>Monitor which students need help and which ones are helping their peers</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <img src="//placehold.it/350x350" alt="" />
              <!-- <img src="/images/about_students.jpg" alt="Student Demo" /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="start-section">
    <div class="container">
      <div class="row text-center">
        <h1>Ready To Get Started?</h1>
        <br>
        <button class="btn btn-success register-button">REGISTER</button>
        <br>
        <br>
        <p>
          Already registered?
          <a href="#">Login</a>
        </p>
      </div>
    </div>
  </section>
</div>


<!-- <div class="">
  <div class="">
    <div class="">
      <p>Use the buttons below to sign up with facebook or an email and password.</p>
      <p>(Existing users, just sign in with your credentials!)</p>
      <div class="col-xs-12">
        <div class="row">
          <div class="hidden-xs">
            <br>
          </div>
          <div class="col-xs-12 visible-xs-block text-center">
            <button class="btn btn-primary" role="button" ng-click="loginWithFacebook()" ng-disabled="loggingIn" >{{loggingIn ? 'Logging In' : 'Login With Facebook'}}</button>
          </div>
          <div class="hidden-xs col-sm-5 text-right">
            <button class="btn btn-primary" role="button" ng-click="loginWithFacebook()" ng-disabled="loggingIn" >{{loggingIn ? 'Logging In' : 'Login With Facebook'}}</button>
          </div>
          <div class="col-xs-12 visible-xs-block">
            <h4>- or -</h4>
          </div>
          <div class="col-xs-12 col-sm-6">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#loginCollapse" aria-expanded="false" aria-controls="loginCollapse">
              Login With Email
            </button>
          </div>
        </div>
        <div class="collapse col-xs-11 col-sm-offset-3 col-sm-6" id="loginCollapse">
          <form>
            <div class="form-group">
              <label for="loginEmail">Email address:</label>
              <input type="email" class="form-control" id="loginEmail" placeholder="Email" ng-model="loginEmail">
            </div>
            <div class="form-group">
              <label for="loginPassword">Password:</label>
              <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginPassword">
            </div>
            <button type="submit" class="btn btn-success" ng-click="loginWithEmail()" ng-disabled="loggingIn" >{{loggingIn ? 'Logging In' : 'Login'}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
