<div class="splashBackground">
  <div class="splashWrapper" ng-init="loggingIn = false">
    <div class="splashTitle">
      <h1>Get It, Got It</h1>
      <h3>Redefining the interactive classroom.</h3>
      <p>Use the buttons below to sign up with facebook or github.</p>
      <p>**Exclusively for Coding House!**</p>
      <div class="col-xs-12">
        <div class="row">
          <div class="hidden-xs">
            <br>
          </div>
          <div class="col-xs-12 visible-xs-block text-center">
            <button class="btn btn-primary" role="button" ng-click="loginWithFacebook()" ng-disabled="loggingIn" >{{loggingIn ? 'Logging In' : 'Login With Facebook'}}</button>
          </div>
          <div class="hidden-xs col-sm-5 text-right">
            <button class="btn btn-primary" role="button" ng-click="loginWithFacebook()" ng-disabled="loggingIn" >{{loggingIn ? 'Logging In' : 'Login With Facebook'}}</button>
          </div>
          <div class="col-xs-12 visible-xs-block">
            <h4>- or -</h4>
          </div>
          <div class="col-xs-12 col-sm-6">
            <button class="btn btn-default" role="button" ng-click="loginWithGithub()" ng-disabled="loggingIn" >{{loggingIn ? 'Logging In' : 'Login With Github'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
