<div class="studentClassroomArea">
  <gg-nav-bar></gg-nav-bar>

  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12" ng-show="displayHelp">
        <button ng-click="helpSomeone()" class="helpButton btn btn-success">I Can Help</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="needHelpButtonWrapper">
          <button ng-click="needHelp()" ng-style="{'width': needHelpButton.width + 'px', 'height': needHelpButton.width + 'px', 'margin': needHelpButton.margin + 'px'}" class="needHelpButton btn btn-danger">I Don't Get It</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h4>My Total Points:</h4>
        <p>{{user.points}}</p>
      </div>
      <div class="col-xs-6">
        <h4>Points This Class:</h4>
        <p>{{classroom.students[user.class.key].points}}</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="studentBackground">
  <div class="studentWrapper" ng-init="loading = false">
    <button class="btn btn-primary backButtonStudent" ng-click="leaveClass()" ng-disabled="loading">Leave Class</button>
    <div class="myPoints">
      <span>My Total Points: {{user.points}} <br> Points This Class: {{classroom.students[user.class.key].points}} </span>
    </div>
    <button class="btn btn-warning logoutButtonStudent" ng-click="logout()" ng-disabled="loading">Logout</button>
    <div class="studentInner">
      <div class="studentDisplay">
      </div>
      <div class="needHelpButtonWrapper">
        <button ng-click="needHelp()" class="needHelpButton btn btn-warning" ng-disabled="loading">I Don't Get It</button>
      </div>
      <div class="helpButtonWrapper">
        <button ng-click="helpSomeone()" class="helpButton btn btn-primary" ng-class="{displayHelp: displayHelp}" ng-disabled="loading">I Can Help</button>
      </div>
    </div>
  </div>
</div> -->
