<div class="studentClassroomArea">
  <gg-nav-bar></gg-nav-bar>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-default" ng-click="changeColor('gray')">Gray</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success" ng-click="changeColor('green')">Green</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-warning" ng-click="changeColor('yellow')">Yellow</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-danger" ng-click="changeColor('red')">Red</button>
      </div>
    </div>
  </div>

</div>
