<div class="chatroomHelperBackground" ng-init="loading = false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-lg btn-warning backToClassHelper" ng-click="backToClass()" ng-disabled="loading">Sorry, I Can't Help</button>
      </div>
    </div>
  </div>
  <div class="chatArea">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li ng-repeat="message in messages | orderBy:'-'" class="text-right" ng-class="{'myMessage': message.sender === user.$id}">{{message.sender === user.$id ? 'Me' : 'User ' + message.sender.slice(-10)}}: {{message.text}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="input-group chatInput">
      <input class="form-control" type="text" placeholder="Type your response here" ng-model="newMessageText" ng-keydown="checkEnter($event)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addMessage()" ng-disabled="loading">Send!</button>
      </span>
    </div>
  </div>
</div>
