<div class="chatroomHelpeeBackground">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-lg btn-primary backToClassHelpee" ng-click="backToClass()">Ok I'm good</button>
      </div>
    </div>
  </div>
  <div class="chatArea">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li ng-repeat="message in messages | orderBy:'-'" class="text-right" ng-class="{'myMessage': message.sender === user.$id}">{{message.sender === user.$id ? 'Me' : 'User ' + message.sender.slice(-10)}}: {{message.text}}</li>
            <li id="bottom"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="input-group chatInput">
      <input class="form-control" type="text" placeholder="What do you need help with?" ng-model="newMessageText" >
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addMessage()" >Send!</button>
      </span>
    </div>
  </div>
</div>
