<div class="chatroomHelperBackground"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <button class="btn btn-lg btn-primary" ui-sref="student-classroom">Ok I'm good</button>
    </div>
  </div>
</div>
<div class="chatArea">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-left">
        <ul>
          <li>message 1</li>
          <li>message 2</li>
        </ul>
      </div>
      <div class="col-xs-12 text-right">
        <ul>
          <li class="text-right">message 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="input-group chatInput">
    <input class="form-control" type="text" placeholder="What do you need help with?" >
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Send!</button>
    </span>
  </div>
</div>
