<div class="chatroomHelperBackground"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <button class="btn btn-lg btn-primary" ng-click="backToClass()">Ok I'm good</button>
    </div>
  </div>
</div>
<div class="chatArea">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li ng-repeat="message in messages | orderBy:'+' " ng-class="{'text-right': message.sender.uid !== user.uid}">{{message.sender.uid === user.uid ? 'Me' : 'Helpee'}} - {{message.text}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="input-group chatInput">
    <input class="form-control" type="text" placeholder="What do you need help with?" ng-model="newMessageText" >
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="addMessage()" >Send!</button>
    </span>
  </div>
</div>
