<div class="profileArea">
  <gg-nav-bar></gg-nav-bar>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6" ng-show="user" >
        <div class="profileImageWrapper" >
          <img class="img-rounded img-responsive profileImg" ng-src="{{user.avatar}}" alt="Profile Image">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" ng-hide="user">
        <div style="height:130px; width:130px; margin:auto">
          <img src="./assets/ring.gif" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" ng-show="user">
        <h4>{{user.name}}</h4>
        <h4>{{user.points}} points</h4>
        <br>
        <p>Change Your Avatar Picture</p>
        <form ng-submit="changeAvatar(newAvatar)">
          <input style="margin: auto" class="btn btn-success btn-sm" value="Change Avatar" id="newAvatarUpload" type="file" ng-model="newAvatar" base-sixty-four-input>
        </form>
      </div>
      <div class="col-xs-12 col-sm-6" ng-hide="user">
        <div style="height:130px; width:130px; margin:auto">
          <img src="./assets/ring.gif" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
<!-- <div class="profileBackground">
  <div class="profileWrapper">
    <button class="btn backButton" ui-sref="home">Back</button>
    <button class="btn logoutButton" ng-click="logout()">Logout</button>
    <div class="changeAvatarButton">
      <form ng-submit="changeAvatar(newAvatar)">
        <label for="newAvatarUpload">Change Your Picture</label>
        <input id="newAvatarUpload" ng-change="changeAvatar(newAvatar)" type="file" ng-model="newAvatar" base-sixty-four-input>
      </form>
    </div>
    <div class="profileInner">
      <div class="profileCircle">
        <div class="profileImageWrapperOuter"></div>
        <div class="profileImageWrapper">
          <img class="img-circle img-responsive" ng-src="{{user.avatar}}" alt="Profile Image">
        </div>
      </div>
      <div class="profileDisplay">
        <h4>{{user.name}}</h4>
        <h4>{{user.points}} points</h4>
      </div>
    </div>
  </div>
</div> -->
