<div>
  <gg-nav-bar></gg-nav-bar>
  profile
  <button class="btn backButton" ui-sref="home">Back</button>

</div>
<!-- <div class="profileBackground">
  <div class="profileWrapper">
    <button class="btn backButton" ui-sref="home">Back</button>
    <button class="btn logoutButton" ng-click="logout()">Logout</button>
    <div class="changeAvatarButton">
      <form ng-submit="changeAvatar(newAvatar)">
        <label for="newAvatarUpload">Change Your Picture</label>
        <input id="newAvatarUpload" ng-change="changeAvatar(newAvatar)" type="file" ng-model="newAvatar" base-sixty-four-input>
      </form>
    </div>
    <div class="profileInner">
      <div class="profileCircle">
        <div class="profileImageWrapperOuter"></div>
        <div class="profileImageWrapper">
          <img class="img-circle img-responsive" ng-src="{{user.avatar}}" alt="Profile Image">
        </div>
      </div>
      <div class="profileDisplay">
        <h4>{{user.name}}</h4>
        <h4>{{user.points}} points</h4>
      </div>
    </div>
  </div>
</div> -->
