<div class="studentBackground"></div>
<div class="studentArea container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <span>My points: 200</span>
      <div class="helpButtonWrapper">
        <button ng-click="helpSomeone()" class="helpButton btn btn-primary">Help Someone Get It</button>
      </div>
    </div>
  </div>

  <div class="needHelpButtonWrapper">
    <button ng-click="needHelp()" class="needHelpButton btn btn-warning">I Don't Get It</button>
  </div>
</div>
