<div class="statsBackground" ng-init="loading = false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center statsHeader">
        <button class="btn btn-primary btn-lg pull-left statsBackButton" ui-sref="home">Back</button>
        <h3>Check out your stats, {{user.name || 'yo'}}!</h3>
      </div>
    </div>
    <div class="row statsTotalsArea">
      <div class="col-xs-12">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Average Students Per Class</th>
              <th>Average Comprehension Rate</th>
              <th>Total Classes Taught</th>
              <th>Total Students Taught</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{averageStudentsPerClass}}</td>
              <td>{{averageComprehensionPerClass}}</td>
              <td>{{totalClassesTaught}}</td>
              <td>{{totalStudentsTaught}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5 text-center">
        <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            View A Class
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a ng-click="showClassDetails('reset')">Select A Date</a>
            </li>
            <li ng-repeat="class in classesData | orderBy:'-time'">
              <a ng-click="showClassDetails(class.id)">{{class.time | date : 'medium'}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row statsDataArea" ng-if="!showNone">
      <div class="col-xs-12 text-center studentStatsHeader">
        <h3>Now viewing class data from</h3>
        <h1>{{currentClassTime | date : 'medium'}}</h1>
      </div>
      <div class="col-xs-6 percentageGraph">
        <percentage-graph data="{{currentClassData}}"></percentage-graph>
      </div>
      <div class="col-xs-6 statsClassTotalsArea">
        <table class="table">
          <tbody>
            <tr>
              <td>Total Students</td>
              <td>:</td>
              <td>{{totalStudents}}</td>
            </tr>
            <tr>
              <td>Average Comprehension Rate</td>
              <td>:</td>
              <td>{{avgComp}}%</td>
            </tr>
            <tr>
              <td>Duration</td>
              <td>:</td>
              <td>{{duration}}</td>
            </tr>
            <tr>
              <td>Total Points</td>
              <td>:</td>
              <td>{{classPoints}}</td>
            </tr>
          </tbody>
        </table>
        <div class="dropdown">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            View A Student
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li ng-repeat="student in studentList | orderBy:'name'">
              <a ng-click="viewStudentStats(student.id)">{{student.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 studentStatsArea" ng-if="studentStats">
        <div class="col-xs-4 col-xs-offset-1">
          <img class="studentProfileImg" ng-src="{{studentStats.studentInfo.avatar}}" alt="Profile Pic">
        </div>
        <div class="col-xs-6 col-xs-offset-1">
          <h2 class="text-center">{{studentStats.studentInfo.name}}</h2>
          <table class="table">
            <tbody>
              <tr>
                <td>Total Time In Class</td>
                <td>:</td>
                <td>{{studentStats.totalTimeInClass}}</td>
              </tr>
              <tr>
                <td>Time As Helpee</td>
                <td>:</td>
                <td>{{studentStats.helpeeTime}}</td>
              </tr>
              <tr>
                <td>Time As Helper</td>
                <td>:</td>
                <td>{{studentStats.helperTime}}</td>
              </tr>
              <tr>
                <td>Average Comprehension Rate</td>
                <td>:</td>
                <td>{{studentStats.avgComprehensionRate}}</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#chatHistoryModal">
            Chat History
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="chatHistoryModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{studentStats.studentInfo.name}}'s Chat History</h4>
      </div>
      <div class="modal-body">
        <p ng-if="studentStats.chatHistory.helpeeChats.length">As Helpee</p>
        <ul ng-repeat="chat in studentStats.chatHistory.helpeeChats">
          <li ng-repeat="message in chat.messages">{{displayMessage(message)}}</li>
        </ul>
        <p ng-if="studentStats.chatHistory.helperChats.length">As Helper</p>
        <ul ng-repeat="chat in studentStats.chatHistory.helperChats">
          <li ng-repeat="message in chat.messages">{{displayMessage(message)}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
