<div class="statsBackground" ng-init="loading = false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center statsHeader">
        <button class="btn btn-primary btn-lg pull-left statsBackButton" ui-sref="home">Back</button>
        <h4>Check out your stats, {{user.name || 'yo'}}!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <h4>Average Students per class</h4>
        <h5>{{averageStudentsPerClass}}</h5>
      </div>
      <div class="col-xs-3">
        <h4>Average comprehension per class</h4>
        <h5>{{averageComprehensionPerClass}}</h5>
      </div>
      <div class="col-xs-3">
        <h4>Total Classes</h4>
        <h5>{{totalClasses}}</h5>
      </div>
      <div class="col-xs-3">
        <h4>Total Students Taught</h4>
        <h5>{{totalStudentsTaught}}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            View A Class
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a ng-click="showClassDetails('reset')">Select A Date</a>
            </li>
            <li ng-repeat="class in classesData | orderBy:'-time'">
              <a ng-click="showClassDetails(class.id)">{{class.time | date : 'medium'}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!showNone">
      <div class="col-xs-12">
        <h1 class="text-center">Now viewing class data from</h1>
        <h3 class="text-center">{{currentClassTime | date : 'medium'}}</h3>
      </div>
      <percentage-graph data="{{currentClassData}}"></percentage-graph>
      <div class="col-xs-6">
        <p>Total Students: {{totalStudents}}</p>
        <p>Average Comprehension Rate: {{avgComp}}%</p>
        <p>Duration: {{duration}}</p>
        <p>Total Points: {{classPoints}}</p>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            View A Student
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li ng-repeat="student in studentList | orderBy:'name'">
              <a ng-click="viewStudentStats(student.id)">{{student.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12" ng-if="studentStats">
        <div class="col-xs-4">
          <img class="studentProfileImg" ng-src="{{studentStats.studentInfo.avatar}}" alt="Profile Pic">
        </div>
        <div class="col-xs-8">
          <h3>{{studentStats.studentInfo.name}}</h3>
          <p>Total time in class: {{studentStats.totalTimeInClass}}</p>
          <p>Time as helpee: {{studentStats.helpeeTime}}</p>
          <p>Time as helper: {{studentStats.helperTime}}</p>
          <p>Average Comprehension Rate: {{studentStats.avgComprehensionRate}}</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Chat History
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{studentStats.studentInfo.name}}'s Chat History</h4>
      </div>
      <div class="modal-body">
        {{studentStats.chatHistory}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
