<div class="teacherClassroomArea">
  <gg-nav-bar></gg-nav-bar>
  <gg-teacher-controls></gg-teacher-controls>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2 ng-hide="isRecording">Use the controls above to record class data...</h2>
        <time-data data="{{timeData}}" ng-show="isRecording"></time-data>
      </div>
      <div class="col-xs-12">
        <h2 ng-hide="students.length">Waiting for students to join...</h2>
        <student-circles students="{{students}}" percentage="{{percentage}}" ng-show="students.length"></student-circles>
      </div>
    </div>
  </div>

</div>



<!-- <div class="teacherBackground" ng-init="loading = false">
  <div class="teacherHeader">
    <div class="row">
      <div class="col-xs-12 endClassButton text-center">
        <h1 ng-click="endClass()" ng-disabled="loading">{{loading ? 'One Moment' : 'End Class'}}</h1>
      </div>
    </div>
  </div>
  <div class="studentCirclesArea">
    <div class="col-xs-12">
      <h1 class="text-center">
        Classroom ID: &nbsp;{{classID}}
      </h1>
    </div>
    <div class="col-xs-4 text-center">
      <h3 ng-if="points == 0 || !points">...</h3>
      <h3 ng-if="points > 0">Class Points: {{points}}</h3>
    </div>
    <div class="col-xs-4 text-center">
      <h1>{{percentage || "..."}}</h1>
    </div>
    <time-data data="{{timeData}}"></time-data>
    <student-circles students="{{students}}" percentage="{{percentage}}"></student-circles>
  </div>
</div> -->
